h1 {
  color: #269A95;
    font-weight: bold;
    font-size: xxx-large;
    font-family: Helvetica;
    text-align: center;
}

h2 {
  margin-bottom: 5px;
}

div.post {
    margin: 0 50px 0 50px;
}

h3 {
  display: inline-block;
  text-align: left
}

h4 {
  display: inline-block;
  text-align: right
}

div.block {
  display: flex;
  justify-content: space-between;
}

p.author {
  font-style: italic;
}

p.body {
  margin-top: 0px;
}

div.center {
  text-align: center;
}
