h1 {
  color: #269A95;
    font-weight: bold;
    font-size: xxx-large;
    font-family: Helvetica;
    text-align: center;
}

h2 {
  margin-bottom: 5px;
}

div.post {
    margin: 0 50px 0 50px;
}

div.block {
  display: flex;
  justify-content: space-between;
}

p.author {
  font-style: italic;
}

p.body {
  margin-top: 0px;
}

div.center {
  text-align: center;
}

title.block {
  text-align: right;
}

div.right {
  text-align: right;
}

.padRight {
  margin-right: 10px;
}

.space {
  margin: 0 10px 0 10px;
}
